QIITA_API_ACCESS_TOKEN=
QIITA_API_URL=https://qiita.com/api/v2/authenticated_user/items
REVALIDATE_SECRET=
BUTTONDOWN_API_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:8787
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_NEWSLETTER_ENABLED=false
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_ADSENSE_SLOT_LIST=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_TOP=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_BOTTOM=
NEXT_PUBLIC_AMAZON_ASSOCIATE_TAG=
NEXT_PUBLIC_RAKUTEN_AFFILIATE_ID=
NEXT_PUBLIC_VALUECOMMERCE_SID=
NEXT_PUBLIC_VALUECOMMERCE_PID=
